/* ---CSS RESET--- */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:nyt-franklin, helvetica, arial,sans-serif;
}


/* --- common styles--- */
body{
    color: #333;
}

.heading-logo{
    font-family: 'Ma Shan Zheng', cursive;
    color:black;
    text-decoration: none;
    font-size: 30px;
}

p{
    color:#333;
    font-size:1.325rem;
    line-height:1.6rem;
    margin-bottom:20px;
}

.written-article{
    width:600px;
}

figure{
    margin-bottom:25px;
}

/* --- navigation --- */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(58, 54, 54, 0.322);
}

.icon-button{
    margin-right:15px;
}

.link-button{
    text-decoration: none;
    color: #000;
}
.subscribe,
.header-login
{
    padding: 5px 10px 5px 10px;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.subscribe:hover,
.header-login:hover
{
    background-color: rgb(40, 40, 90);
}


/* --- images & Video Dimensions ---- */


.main-feature-image{
    width: 100%;
}

.section-feature-video,
.section-feature-image
{
    width:600px;
    height:319px;
}

.footer-astronomy-boxes img,
.footer-editor-boxes img
{
    width: 100%;
    height: 150px;
}

/* ---main--- */

.article-header{
    width:80%;
    margin: 0 auto;
}

h1{
    width: 40%;
    margin: 30px 0 30px 150px;
    font-size: xx-large;
    
}

.feature-caption{
    width: 75%;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color:#666;
}

.feature-caption cite{
    font-size: 0.8375rem;
    color: #888;
}

.feature-author{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid rgb(167, 164, 164);
}

.article-share{
    margin:30px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fa-lg,
.fa-2x
{
    color: rgba(0, 0, 0, 0.749);
    margin-right: 10px;
}

.fa-facebook,
.fa-twitter,
.fa-envelope-square,
.fa-share
{
    border: 1px solid rgba(179, 179, 179, 0.214);
    border-radius: 100%;
    padding: 7px;
    background-color: rgba(179, 179, 179, 0.214);
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-envelope-square:hover,
.fa-share:hover
{
   
    background-color:white;
}

.fa-bookmark:hover,
.fa-comment-alt:hover
{
    color: rgba(0, 0, 0, 0.255);
}

.fa-2x{
    position: absolute;
    top:3px;
}

.comment-number{
    font-size:12px;
    position: absolute;
    right: 6px;
    top: 7px;
}

.article-share-buttons{
    margin-right:35px;
}

h3{
    margin-bottom: 20px;
}

.article-separator{
    text-align: center;
    padding-bottom: 20px;
}

.border-separator{
    border-top:0.4px solid rgba(190, 189, 189, 0.4);
    border-bottom:0.4px solid rgba(190, 189, 189, 0.4);
    margin:0 auto 20px auto;
    width: 10%;
}

.login{
    text-decoration:none;
    color: rgb(80, 80, 230);    
}


.section-inflation-header{
    position: relative;
}

.inflation-header{
    margin:40px 0 0 140px;
    width: 80%;
}

.separate-border{
    border-bottom: 1px solid #000;
    width: 70px;
    margin-left:140px;
}

.article-inflation-author{
    margin:30px 0 50px 140px;

}

.article-inflation-author p{
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}


.inflation-header-paragraph{
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}

.inflation-image{
    display: block;
    width:80%;
    margin: 0 auto;

}

.section-inflation-boxes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-row-gap:180px;
    position: absolute;
    left:140px;
    bottom:65px;
    
}

.inflation-box{
   width: 220px;
}

.inflation-box p{
    font-size:0.8rem;
    line-height: normal;
    color: rgb(102, 102, 102);
    
}

.written-article{
    width: 50%;
    margin: 50px auto;
}

.section-credit p{
    font-size:0.8rem;
    line-height: normal;
    color: rgb(102, 102, 102);
}

.credit-link{
    color: rgb(102, 102, 102);
}
.section-comments{
    display: flex;
    justify-content: space-between;
    margin-bottom:100px;
}

.comment-button{
    padding: 5px 100px 5px 100px;
    background-color: rgb(86, 123, 149);
    border: 1px solid rgb(50, 104, 145);
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

.comment-button:hover{
    background-color: rgb(40, 40, 90);
}




/* --- footer---- */

.boxes-header{
    width: 83%;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.boxes-aside-title{
    color: #333;
    font-weight: bold;
}

.boxes-header-link{
    text-decoration:none;
    color:#333;
    margin-left: 20px;
    font-weight:bold;
}

.boxes-header-link:hover{
    text-decoration:underline;
}

.ruler{
    display: flex;
    justify-content: space-between;
}

.right-boxes-ruler{
    width:24%;
    margin-right:45px;
}

.left-boxes-ruler{
    width: 68%;
    margin-left: 20px;
}

.footer-feature{
    display: grid;
    grid-template-columns: 70% 25%;
    grid-column-gap: 36px;
    padding: 20px;
}

.footer-astronomy-boxes,
.footer-editor-boxes

{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:25px;
}

.footer-astronomy-boxes{
    margin-bottom:30px;
}


.boxes-separator{
    text-decoration:none;
    color:#333;
    display: block;
    margin: 20px 0;
}


.footer-border-separator{
    border-bottom: 1px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    padding: 1px;
    margin-bottom: 10px;
}

.footer-categories{
    padding:25px;
}

.image-description,
.release-date
{
    color:rgb(153, 153, 153);
    font-size:0.7rem;

}


.article-link{
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size:15px;
    line-height: normal;
}

.category-header{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}

.home-link{
    font-size:12px;
    text-decoration:none;
}


.popular-article{
    text-decoration: none;
    color: #000;
}
.popular-article:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.411);
}

.categorie-boxes{
    display:grid;
    grid-template-columns: repeat(6,auto);
}
.categorie-boxes h4{
    margin-bottom: 20px;
}


.categorie-boxes li{
    list-style-type: none;
}


.categorie-boxes a{
    text-decoration:none;
    color:black;
    line-height: 1.8em;
    font-size:13px;
}

.categorie-boxes a:hover{
    text-decoration:underline;
}

.category-box6{
    border-left:1px solid #ebebeb;
    padding-left: 20px;
    position: relative;
}

.category-box6 b{
    position: absolute;
    left: 45px;
}

.category-box6 b:hover{
    text-decoration:underline;
}


.new-york-time-logo{
    width: 20px;
}

.footer-special-link{
    display: flex;
    flex-direction: column;
}

.fa-dice-four,
.fa-utensils
{
    margin-left: 5px;
}

.subscribe-ruler{
    margin:10px 0 10px 0;
}


.footer-ruler{
    width: 97%;
    margin: 0 auto;
    margin-top:30px;
    color:#ebebeb;
}

.footer-menu{
    text-align: center;
    font-size:12px;
    padding:20px;
}
.footer-menu a{
    margin-right:10px;
    text-decoration:none;
    color:#666;
}

.footer-menu a:hover{
    text-decoration:underline;
}






