/* ---CSS RESET--- */
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:nyt-franklin, helvetica, arial,sans-serif;
}


/* --- common styles--- */
body{
    color: #333;
}

.heading-logo{
    font-family: 'Ma Shan Zheng', cursive;
    color:black;
    text-decoration: none;
    font-size: 30px;
}

p{
    color:#333;
    font-size:1.125rem;
    line-height:1.5625rem;
}

.written-article{
    width:600px;
}

/* --- images & Video Dimensions ---- */


.main-feature-image{
    width: 70%;
}

.section-feature-video,
.section-feature-image
{
    width:600px;
    height:319px;
}

.footer-astronomy-boxes img,
.footer-editor-boxes img
{
    width: 100%;
    height: 150px;
}

/* ---main--- */

.section-inflation-header{
    position: relative;
}

.inflation-header{
    margin:40px 0 0 140px;
    width: 80%;
}

.separate-border{
    border-bottom: 1px solid #000;
    width: 70px;
    margin-left:140px;
}

.article-inflation-author{
    margin:30px 0 50px 140px;

}

.article-inflation-author p{
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}


.inflation-header-paragraph{
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}

.inflation-image{
    display: block;
    width:80%;
    margin: 0 auto;

}

.section-inflation-boxes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-row-gap:180px;
    position: absolute;
    left:140px;
    bottom:100px;
    
}

.inflation-box{
   width: 220px;
}

.inflation-box p{
    font-size:0.8rem;
    line-height: normal;
    color: rgb(102, 102, 102);
    
}

.written-article{
    width: 50%;
    margin: 0 auto;
}


/* --- footer---- */

.boxes-header{
    width: 81%;
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}

.boxes-aside-title{
    color: #333;
    font-weight: bold;
}

.boxes-header-link{
    text-decoration:none;
    color:#333;
    margin-left: 20px;
    font-weight:bold;
}

.boxes-header-link:hover{
    text-decoration:underline;
}

.footer-feature{
    display: grid;
    grid-template-columns: 70% 3% 25%;
    padding: 20px;
}

.footer-astronomy-boxes,
.footer-editor-boxes

{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:25px;
}

.footer-astronomy-boxes{
    margin-bottom:30px;
}


.boxes-separator{
    text-decoration:none;
    color:#333;
    display: block;
    margin: 20px 0;
}



.footer-categories{
    padding:25px;
}


.category-header{
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}

.home-link{
    font-size:12px;
    text-decoration:none;
}


.categorie-boxes{
    display:grid;
    grid-template-columns: repeat(6,auto);
}
.categorie-boxes h4{
    margin-bottom: 20px;
}


.categorie-boxes li{
    list-style-type: none;
}


.categorie-boxes a{
    text-decoration:none;
    color:black;
    line-height: 1.8em;
    font-size:13px;
}

.categorie-boxes a:hover{
    text-decoration:underline;
}

.category-box6{
    border-left:1px solid #ebebeb;
    padding-left: 20px;
    position: relative;
}

.category-box6 b{
    position: absolute;
    left: 40px;
}

.new-york-time-logo{
    width: 20px;
}


.subscribe-ruler{
    margin:10px 0 10px 0;
}


.footer-ruler{
    width: 97%;
    margin: 0 auto;
    margin-top:30px;
    color:#ebebeb;
}

.footer-menu{
    text-align: center;
    font-size:12px;
    padding:20px;
}
.footer-menu a{
    margin-right:10px;
    text-decoration:none;
    color:#666;
}

.footer-menu a:hover{
    text-decoration:underline;
}






